<html>
    <head>
        <title>Erro - Página não encontrada</title>
    </head>

    <body>
        <div>
            <p>Erro, infelizmente não conseguimos encontrar a página :(</p>
        </div>
    </body>
</html>