<html>
  <head>
    <title>Orientation</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/teacher.css">
  </head>

  <body>
    <div class="container2">
      <div class="faixa">
        <a href="/">Back</a>
      </div>
      <div class="content">
        <h3>All teachers</h3>
        <% if(!list || list.length == 0) {%>
          <h4 style="align-self: center; margin-top: 2em;">There's no teacher register :(</h4>
        <% } else { %>
          <% for (i of list) { %>
            <div class="itens">
              <p>Name: <%= i.name %></p>
              <p>Email: <%= i.email %></p>
              <p>Department: <%= i.department %></p>
              <a href="/teacher/delete/<%= i._id %>">Delete</a>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>